<div id="DashboardView" ng-controller="DashboardController">
	<h2>Dashboard</h2>
	<!-- TODO: Display scenes as tabs, if there is one scene do not display tabs -->
	<ul>
		<li ng-repeat="scene in scenes"><a href="" ng-click="showScene(scene.id)">{{ scene.title }}</a></li>
	</ul>
	<!-- TODO: Convert the updater in a directive -->
	<div class="update">Updated <span class="last-update">{{ last_update }}</span>
		<span class="updating">Updating...</span></div>
	<ul class="toolbar">
		<li class="active"><a href="#">Mimics</a></li>
		<li><a href="#">History</a></li>
		<li><a href="#">Edit</a></li>
	</ul>
	<div class="mimics">
		<div ng-repeat="mimic in scene.mimics" class="{{ mimic.slug }}">
			<h3>{{ mimic.name }}</h3>
			<ul>
				<li ng-repeat="var in mimic.vars" class="{{ var.slug }}">{{ var.name }}
					<span class="value">{{ var.value }}</span>
				</li>
			</ul>
		</div>
	</div>
</div>